<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Entreprises</title>
<link rel="stylesheet" type="text/css" 
href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
href="../static/css/style.css" 
th:href="@{/css/style.css}"/>
</head>
<body>

  
 <div class="container spacer40">
   <div class="panel panel-primary">
      <div class="panel-heading">Problème d'autorisation</div>
      <div class="panel-body">
      
   <h1 class="red">Vous n'avez droit d'accéder à cette ressource</h1>
   
     </div>
   </div>
 </div>
   

</body>
</html>